.container {
  width: 400px;
  height: 500px;
  border: 0.1px solid grey;
  /* background-color: white; */
  box-shadow: 5px 8px 20px 3px grey;
  border-radius: 6px;

  position: relative;
  top: 180px;
  left: 900px;
}
.con {
  padding: 10px;
}
.bottomDiv {
  width: 100%;
  height: 400px;
  padding: 10px;
  display: flex;

  flex-direction: column;

  border-top: 0.5px solid rgb(138, 137, 137);
}
.topInputs {
  display: flex;
  gap: 20px;
}
.inputAss {
  border: 0.3px solid grey;
  border-radius: 5px;
  padding-left: 14px;
  background-color: rgb(247, 249, 251);
}
.bottomInputs {
  margin-top: 20px;
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.BigLayout {
  position: relative;
  background-image: url("att.png");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
  width: 100vw;
  height: 100vh;
}
